@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Orange-500: #F97316 -> 249 115 22 */
    --color-primary: 249 115 22;
    /* Orange-600: #EA580C -> 234 88 12 */
    --color-primary-hover: 234 88 12;
    --color-background: #FFFFFF;
    --color-text1: #05073C;
    --color-text2: #FFFFFF;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
