/* Custom Swiper Pagination */
.swiper-pagination {
  bottom: -5px !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #1f2937 !important; /* Dark color */
  opacity: 0.3 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 8px;
  border-radius: 10px;
  background-color: #0f172a !important; /* Darker color for active state */
  opacity: 1 !important;
}
